.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
    }
}

//@media is for editing for mobile and desktop. 
//in this case its going to toggle for desktop and the remaining is for mobile 
// video 174